@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

main{
    color:whitesmoke;
    border-left: solid #000832;
    border-right: solid #000832;
    border-left-width: 170px;
    border-right-width: 170px;   
}

h1{
font-family: "Bricolage Grotesque", sans-serif;
font-weight: bolder;
font-style: oblique;
color: whitesmoke;
}

.ti{
    border: solid #FF0000;
    background-color: #FF0000;
    width: 110px;
    height: 50px;
    margin-left: 50px
}

header{ 
    background-color: #e3e8ff;
    font-style: oblique;
    font-weight: bolder;
    font-family: "Bricolage Grotesque", sans-serif;
    padding-top: 60px;
    padding-left: 90px;
    padding-bottom: 10px;
}

.info{
    margin-left: 1592px;
    color: white;
}

.infoL{
    margin-left: 1592px;
}

.linhas{
 margin: auto;
 display: grid;
 justify-content: space-around;
 gap: 200px;
 padding-top: 110px;
}
.linha{
    max-width: 340px;
    max-height: 290px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
     border-right-width: 16px;
     border-left-width: 16px;
}

.sonho{
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 16px;
    border-right-width: 16px;
}

.are{
    max-width: 350px; 
    max-height: 300px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 16px;
    border-right-width: 16px;
}

.area{
    margin-left: 170px;
    margin-top: 60px;
}

article{
    margin-left: 170px;
    margin-top: 70px;
    display: inline-block;
    column-gap: 200px;
}

.sonhos{
    margin-left: 170px;
    margin-top: 70px;
}

.a{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}

.b{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}
.c{
    margin: auto;
    max-width: 280px;
    max-height: 280px;
}
.d{
    margin: auto;
    max-width: 340px;
    max-height: 360px;
}
.e{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}
.f{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}
.g{
    margin: auto;
    max-width: 350px;
    max-height: 400px;
}
.h{
    margin: auto;
    max-width: 350px;
    max-height: 350px;
}
.i{
    margin: auto;
    max-width: 350px;
    max-height: 350px;
}
.j{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}

.video{
    display: grid;
    justify-content: space-around;
    margin: auto;
    gap: 45px;
}

.art{
    display: grid;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
}

.ref{
    color: black
}

footer{
    justify-self: center;
}
