.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    gap: 50px;
}

.aa, .bb, .cc, .dd, .kk, .ee{
    margin: 15px;
    padding: 15px;
    border: 20px solid;
    border-color: black;
    border-radius: 10px;

}